:root {
	--bg-main-color: rgb(230, 230, 230);
	--bg-post-color: rgb(214, 214, 214);
}

body {
	background-color: var(--bg-main-color);
	font-family: Roboto, Oxygen, sans-serif;
	display: flex;
	justify-content: center;
	height: 100vh;
	// overflow: hidden;
	font-size: 62.5%;
	margin: 0;

	.App {
		width: 80vw;
		border-radius: 20px;
		margin-top: 1rem;
		box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
		background-color: var(--bg-post-color);
	}

	.post-container {
		padding: 1rem;
		width: 100%;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
	}
}
