:root {
	--bg-main-color: rgb(230, 230, 230);
	--bg-post-color: rgb(214, 214, 214);
}

body {
	background-color: var(--bg-main-color);
	font-family: Roboto, Oxygen, sans-serif;
	display: flex;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	// font-size: 1.25rem;
	margin: 0;

	.App {
		width: 80vw;
		background-color: var(--bg-post-color);
		border-radius: 20px;
		padding: 1rem;
		margin-top: 10px;
		box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	}
}
